// Colors
$red: #901c1c;
$red-light: #d3573c;

$pink: #db8876;
$gray: #525252;
$lightgray: #fafafa;

// Font
$font-family: "DM Sans", sans-serif;
$font-size: 1.125rem;
$line-height: 1.3;

//Shadow
$shadow: 1px 3px 8px 0px rgb(0 0 0 / 20%);

//Animation
@keyframes background-in {
    from {
        background-color: rgba($lightgray, 0);
    }
    to {
        background-color: rgba($lightgray, 0.4);
    }
}

@keyframes content-in {
    from {
        transform: translateY(2rem) scale(0.8);
    }
    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes photographAppear {
    from {
        opacity: 0;
        transform: translate(1rem, 1rem);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
