.lightbox {
  display: none;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 251, 251, 1);
  z-index: 10;
  transition: opacity 0.3s;
  button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: none;
    border: none;
    text-indent: -3000px;
  }
  .lightbox__next,
  .lightbox__prev {
    width: 50px;
    height: 80%;
    fill: $red;
    top: 50px;
    right: 0;
    z-index: 11;
    outline: none;
    svg{
      height: 2.5rem;
      z-index: 12;
    }
  }
  .lightbox__prev {
    right: auto;
    left: 0;
  }
  .lightbox__close {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 12;
    svg {
      fill: $red;
      height: 32.5rem;
    }
  }
  .lightbox-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    img,video {
      max-height: 85vh;
      max-width: 85%;
      object-fit: cover;
    }
    p{
      position: absolute;
      z-index: -1;
      font-size: 1rem;
      a{
        color: $red;
      }
    }
    h2 {
      // width: 100%;
      color: $red;
      font-size: 24px;
      padding: 1rem 0;
    }
  }
}
.lightboxOpen {
  display: flex;
}
