header {
    a.header-logo {
        margin-left: 100px;
    }
    h1 {
        color: $red;
        margin-right: 100px;
    }
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    article {
        justify-self: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        position: relative;
        animation: photographAppear 1s ease-in-out;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            font-size: 0;
            img {
                margin-bottom: 20px;
                transition: transform 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.1);
                }
            }
            h2 {
                color: #d3573c;
                font-size: 2.25rem;
                text-align: center;
            }
        }
        .photographerInfos {
            display: flex;
            flex-direction: column;
            align-items: center;
            .photographer-location {
                font-size: 1rem;
                color: $red;
            }
            .photographer-tagline,
            .photographer-price {
                font-size: 0.75rem;
            }
            .photographer-price {
                color: $gray;
            }
        }
    }
}
