main {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    section.photographer {
        width: 100%;
        .photographer-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 300px;
            padding: 0 35px;
            background: $lightgray;
            .infosPhotographer {
                h1 {
                    color: $red-light;
                    font-size: 2.25rem;
                }
                .locationandtag {
                    .location {
                        padding: 10px 0;
                        color: $red;
                        font-size: 1.75rem;
                    }
                }
            }
        }
    }

    section.portfolio {
        display: flex;
        flex-direction: column;
        width: 100%;
        /*GALLERY*/
        .galleryContainer {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            padding: 2%;
            figure {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 33.33%;
                min-width: 380px;
                min-height: 370px;
                padding: 2%;
                position: relative;
                animation: photographAppear 1s ease-in-out;
                .mediaCard {
                    border-radius: 5px;
                    cursor: pointer;
                    img,
                    video {
                        object-fit: cover;
                        width: 100%;
                        height: 370px;
                        border-radius: 5px;
                    }
                    p {
                        position: absolute;
                        top: 50%;
                        z-index: -1;
                        width: 80%;
                        a {
                            color: $red;
                        }
                    }
                    figcaption {
                        display: none;
                    }
                }
                .mediaLegend {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 50px;
                    h2 {
                        font-size: 1.5rem;
                        color: $red;
                    }
                    .media-legend-like {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .media-legend-cunt {
                            font-size: 1.5rem;
                            margin-right: 5px;
                            color: $red;
                        }
                        svg {
                            height: 24px;
                            fill: $red;
                        }
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    left: 60%;
    background-color: $pink;
    width: 370px;
    height: 70px;
    padding: 0 20px;
    font-size: 24px;
    border-radius: 5px 5px 0 0;
    .footerInfos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            margin-right: 10px;
        }
        svg {
            height: 24px;
        }
    }
}
